@media all and (min-width: 992px) and (max-width: 1170px) {

    #container {
        background-image: url(../img/man-2.jpg);
        height: 70%;

    }
    #text {
        left: 55%;
        top: 4%;

    }
}

@media all and (max-width: 991px) {

    body {
        text-align: center;

    }

    #container {
        height: 50%;

    }

    #napis {
        display: inline-block;
        color: black;
        position: relative;
        width: 90%;
        margin: 0;
        font-size: 2vh;

    }

}
    
