* {
    font-family: verdena;

}

html,
body {
    margin: 0;
    height: 100%;
    padding: 0;
    color: white;

}

#container {
    background-image: url(../img/man-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center center;
    height: 100%;
    margin: 0;
    position: relative;

}


#napis {
    position: absolute;
    margin: 0;
    top: 45%;
    left: 5%;